<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mx.tec.getfood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_configuration"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ui.QR.Activity.SplashActivity"/>
        <activity android:name=".ui.QR.Activity.MainQR" />
        <activity android:name=".ui.orden.Orden"/>
        <activity android:name=".Platillo" />
        <activity android:name=".Registro" />
        <activity
            android:name=".Menu"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar"/>


    <activity android:name=".Confirmar" />
        <activity android:name=".LogIn" />
        <activity android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>